<h1>Listing machines</h1>
 
<%= link_to 'Home', welcome_index_path %>

<table>
	<tr>
		<th>ID</th>
		<th>Name</th>
	</tr>

	<% @machines.each do |machine| %>
		<tr>
			<td><%= machine._id %></td>
			<td><%= machine.name %></td>
			<td><%= link_to 'Show', machine_path(machine) %></td>
			<td><%= link_to 'Edit', edit_machine_path(machine) %></td>
			<td><%= link_to 'Destroy', machine_path(machine), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			<td><%= link_to 'Start', start_machine_path(machine) %></td>
			<td><%= link_to 'Vent', vent_machine_path(machine) %></td>
			<td><%= link_to 'Stop', stop_machine_path(machine) %></td>
		</tr>
	<% end %>
</table>

<%= link_to 'New machine', new_machine_path %>
