<%= link_to 'Machines', machines_path %>

<%= form_for :machine, url: machines_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
